{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}Geo Cache Add{% endblock %}
{% block body %}
<center>
    <h2><font color="#366092">Geo Cache Add</font></h2>
<div class="container">
    <form name="frm" role="form" action="{% url 'admin_geo_cache_add' %}" method="post">
            {% csrf_token %}

	         <div class="form-group">
                 <label for="loc_name">Loc Name</label>
                 <input class="form-control" type="text"  id="loc_name" name="loc_name" placeholder="location name" required="required">
             </div>
	     <div class="form-group">
             <label for="lat">Lat/Lng</label>
				<input type="text" class="form-control" id="lat" name="lat" placeholder="lat" required="required">
				<input type="text" class="form-control" id="lng" name="lng" placeholder="lng" required="required">
         </div>
	     <div class="form-group">
             <label for="addr1">Address</label>
                <input type="text" class="form-control" id="addr1" name="addr1" placeholder="Street" ><br>
                <input type="text" class="form-control" name="addr2" placeholder="City" ><br>
                <input type="text" class="form-control" name="addr3" placeholder="State" ><br>
                <input type="text" class="form-control" name="addr4" placeholder="Country" ><br>
                <input type="text" class="form-control" name="pin" placeholder="pin" ><br>
         </div>
	   <button type="submit" class="btn btn-info" id="bt" name="bt">Add</button>
        <button type="reset" class="btn btn-info" id="rt" name="rt">Reset</button>
        {{msg}}
    </form>
</div>
</center>
{% endblock %}